html,
body {
    height: 100%;
}

.red {
    color: #F44336;
}

section {
    padding: 15px 0;
}

.load {
	display: none;
}

.btn>span {
    padding-right: 5px;
}

.addfile {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.addfile input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.absolute {
	position: absolute;
	top: 0px;
	width: 100% !important;
}

.form-view {
	padding-top: 15%;
}

.form-header {
	padding-bottom: 25px;
}

.form-header i {
	font-size: 6.8em;

}

.video-selected video {
    max-width: 500px !important;
}

.video-selected i {
	position: relative;
	left: 180px;
	top: -15px 
}

.preview video {
    max-width: 300px !important
}

.navbar-brand img {
    max-width: 40px;
    padding-right: 10px;
    float: left;
}

.progress {
    margin: 10px 0;
}

.progress .progress-extended {
    margin-top: 5px;
}


/* -- Configuration of Footer -- */

#main {
    min-height: 90%;
}

footer {
    text-align: center;
    position: relative;
    margin-top: -90px;
    height: 30px;
    clear: both;
}
